@using ConceptMaps.UI.Spacy
<div class="alert alert-light" role="alert">
    <h6 class="alert-heading">Relationships:</h6>
    <table class="table table-striped table-borderless">
        <tbody>
        @foreach (var rel in this.Relationships)
        {
            <tr class="row justify-content-start">
                @if (!this.IsReadOnly)
                {
                    <td class="btn-group col-3">
                        <button type="button" class="btn btn-sm btn-danger btn-remove" aria-label="Remove" @onclick="() => this.Relationships.Remove(rel)">
                            <span class="oi oi-trash"></span>
                        </button>
                        <button type="button" class="btn btn-sm btn-secondary" title="Switch entities" @onclick="() => this.OnSwitchEntities(rel)"><span class="oi oi-transfer"></span></button>
                        @if (rel.Score < 0.9)
                        {
                            <span class="btn oi oi-warning" title="@($"Score for {rel.RelationshipTypeInSentence}: {rel.Score}")"></span>
                        }
                    </td>
                }
                <td class="col-3">
                    <InputText class="form-control form-control-sm" @bind-Value="rel.FirstEntity" placeholder="Enter Name" disabled="@this.IsReadOnly"></InputText>
                </td>
                <td class="col-3">
                    <InputSelect class="form-select form-select-sm" @bind-Value="@rel.RelationshipTypeInSentence" disabled="@this.IsReadOnly" title="@(rel.Score > 0 ? $"Score for {rel.RelationshipTypeInSentence}: {rel.Score}" : null)">
                        <option selected="@(rel.IsUndefined())" value="@SpacyRelationLabel.Undefined">unrelated</option>
                        <option selected="@(rel.IsSiblings())" value="@SpacyRelationLabel.Siblings">is sibling of</option>
                        <option selected="@(rel.IsSpouse())" value="@SpacyRelationLabel.Spouse">is married with</option>
                        <option selected="@(rel.IsChildren())" value="@SpacyRelationLabel.Children">is child of</option>
                    </InputSelect>
                </td>
                <td class="col-3">
                    <InputText class="form-control form-control-sm" @bind-Value="rel.SecondEntity" placeholder="Enter Name" disabled="@this.IsReadOnly"></InputText>
                </td>
            </tr>
        }
        </tbody>
    </table>
    @if (!this.IsReadOnly)
    {
        <button type="button" class="btn btn-outline-primary" aria-label="Add Relationship" @onclick="this.OnAddRelationshipClick">
            <span class="oi oi-plus"> Add Relationship</span>
        </button>
    }
</div>