@if (this.Status.IsActive)
{
    <div>
        <button class="btn btn-primary m-1" disabled="true">
            <span class="spinner-border spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Training
        </button>
        <button class="btn btn-secondary m-1" onclick="@this.OnStopClickAsync" disabled="@(this._isStopping || !this.Status.IsActive)">
            <span class="oi oi-media-stop"></span> Stop
        </button>
    </div>
}
else
{
    <StartTraining ModelType="this.ModelType"/>
    <hr />
    @if (this.Status.State is not null)
    {
        <div>
            Last State: @(this.Status.State ?? "-")
        </div>
    }
}

@if (this.Status.Output?.Any() ?? false)
{
    <div class="alert alert-dark" role="alert">
        <h6 class="alert-heading">Standard Output</h6>
        <hr/>
        <ConsoleText Text="@this.Status.Output" />
    </div>
}

@if (this.Status.Error?.Any() ?? false)
{
    <div class="alert alert-warning" role="alert">
        <h6 class="alert-heading">Error Output</h6>
        <hr />
        <ConsoleText Text="@this.Status.Error" />
    </div>
}
