<h5>Training Status</h5>
@if (this.Status.IsActive)
{
    <div>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span class="sr-only">Training ...</span>
    </div>

    <button class="btn btn-secondary mx-1" onclick="@this.OnStopClickAsync" disabled="@this._isStopping"><span class="oi oi-media-stop"></span> Stop</button>
}
else
{
    <div>
        State: @(this.Status.State ?? "-")
    </div>
}

@if (this.Status.Output?.Any() ?? false)
{
    <div class="alert alert-dark" role="alert">
        <h6 class="alert-heading">Standard Output</h6>
        <hr/>
        
        <pre><code>@this.Status.Output</code></pre>
    </div>
}

@if (this.Status.Error?.Any() ?? false)
{
    <div class="alert alert-warning" role="alert">
        <h6 class="alert-heading">Error Output</h6>
        <hr />
        <pre><code>@this.Status.Error</code></pre>
    </div>
}
